{% extends "base.html" %}

<!DOCTYPE html>
<head>

    <style>

    </style>
</head>
<body>
{% block content %}
    <div class="container">
    <div class="container" style="width: 60%;float: left">
    <h1 style="padding-left: 200px">{{ object.title }}</h1><br/>
        <hr>

    <!--{{ object.timestamp|timesince }}-->
    {% if object.image %}
    <img src="{{ object.image.url }}" class="img-fluid">
        </div>
        <div class="container" style="width: 30%;float: right;padding-top: 200px">
        <h4 class="card-text"> {{ object.description }}</h4><br/>
            <h4 class="card-text"> Reviews  {{ object.Reviews }}</h4>

       <h4 class="card-text"> Rating  {{ object.Rating }} /5</h4>
            <div class="container" style=" margin-top: 30px">
                {% include 'accessories/snippets/update-cart.html' with product=object cart=cart %}
                </div>
</div>
{#        <h1> Specifications</h1>#}

{#        {% include 'pproducts/snippets/update-cart.html' with product=object cart=cart %}#}
        </div>
<div class="container-fluid">
        <table style="width:100%;margin-left: 30px;text-align: center ">
            <tr style="background-color: #f2f2f2">
        <th style="background-color: rgb(6, 3, 28);color: white;text-align: center;width:150px;border: 1.5px solid white ">Brand</th>
          <td><p style="padding-left: 50px;border: 1px solid black">{{ object.brand|linebreaks }}</td></p>
          </tr>
            <tr>
        <th style="background-color: rgb(6, 3, 28);color: white;text-align: center;border: 1.5px solid white ">Price</th>
          <td><p style="margin-left: 0px;border: 1px solid black">{{ object.price|linebreaks }}</td></p>
          </tr>
            <tr style="background-color: #f2f2f2">
        <th style="background-color: rgb(6, 3, 28);color: white;text-align: center;border: 1.5px solid white "> Reviews</th>
                <td><p style="margin-left: 0px;border: 1px solid black">{{ object.Reviews|linebreaks }}</td></p>
        </tr>
             <tr style="background-color: #f2f2f2">
        <th style="background-color: rgb(6, 3, 28);color: white;text-align: center;border: 1.5px solid white "> Rating</th>
                <td><p style="margin-left: 0px;border: 1px solid black">{{ object.Ratings|linebreaks }}</td></p>
        </tr>



        </table>
</div>
{#                            <img src="{% static "img/slider4.png" %}" style="width: 100%"  class="img-fluid"/></a>#}

{#        <p style="margin-left: 0px">{{ object.description|linebreaks }}</p><br/>#}
    {% endif %}

{#    {{ cart }}#}
{#    {% if object in cart.products.all %}#}
{#    In cart<button type="submit" style="color: white ; background-color: limegreen">Remove</button>#}
{#    {% else %}#}
{#        <button type="submit" style="color: white ; background-color: limegreen">Add to cart</button>#}
{##}
{#    {% endif %}#}

{% endblock %}
</body>

hello there
